<div class="row">
  <div class="col-xl-12">
    <div class="card css-card">
      <div class="card-header">
        <div class="css-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="css-card-title"> New Order </div>
      </div>
      <div class="card-body ">
        {{#each messages}}
          <p>{{this}}</p>
        {{/each}}
        <form action="/orders/new" method="post">
          <div class="form-row">
            <input type="hidden" name="userID" value="{{user.id}}">
            <div class="form-group col-md-6">
              <label for="code">Identify code</label>
              <input type="text" class="form-control" name="code" value="{{user.code}}" minlength="3" maxlength="3" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPlan">Plan</label>
              <select name="inputPlan" onchange="yesnoCheck(this);" class="form-control" required>
                <option selected value="">Choose...</option>
                <option value='A'>A</option>
                <option value='B'>B</option>
                <option value='C'>C</option>
              </select>
            </div>
          </div>
          <div class="packages">
            <div class="package form-row">
              <div class="form-group col-md-6">
                <label for="trackingNumber0">Tracking Number</label>
                <input type="text" class="form-control" name="trackingNumber0" required minlength="7" maxlength="64"></input>
              </div>
              <div class="form-group col-md-2">
                <label for="inputType">Content</label>
                <select name="inputType0" class="form-control" required>
                  <option selected value="">Choose...</option>
                  <option value='shoes'>Shoes</option>
                  <option value='clothes'>Clothes</option>
                  <option value='misc'>Misc</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputAmount">Amount</label>
                <input type="number" class="form-control" name="inputAmount0" required min="1" max="250"></input>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <button type="button" class="btn btn-secondary btn-lg btn-block mb-1" id="addrow">Add Tracking Number</button>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="card css-card">
              <div class="card-header">
                <div class="css-card-icon">
                  <i class="fas fa-chart-bar"></i>
                </div>
                <div class="css-card-title"> Recipient </div>
              </div>
              <div class="card-body ">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="recName">Recipient Name</label>
                    <input type="text" class="form-control" name="recName" placeholder="example: John Appleseed" pattern="^[A-z ,.'-]+$" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="recPhone">Recipient Phone</label>
                    <input type="tel" class="form-control" name="recPhone" placeholder="example: +1-(555)-123-4567" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="recAddr">Recipient Address</label>
                    <input type="text" class="form-control" name="recAddr" placeholder="example: 123 Main Street" minlength="10" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="recCity">Recipient City</label>
                    <input type="text" class="form-control" name="recCity" placeholder="example: Paris" minlength="2" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="recState">Province</label>
                    <select name="recState" class="form-control" required>
                      <option selected value="">Choose...</option>
                      <option value='CN-AH'>Anhui Province</option>
                      <option value='CN-BJ'>Beijing Municipality</option>
                      <option value='CN-CQ'>Chongqing Municipality</option>
                      <option value='CN-FJ'>Fujian Province</option>
                      <option value='CN-GD'>Guangdong Province</option>
                      <option value='CN-GS'>Gansu Province</option>
                      <option value='CN-GX'>Guangxi Zhuang Autonomous Region</option>
                      <option value='CN-GZ'>Guizhou Province</option>
                      <option value='CN-HA'>Henan Province</option>
                      <option value='CN-HB'>Hubei Province</option>
                      <option value='CN-HE'>Hebei Province</option>
                      <option value='CN-HI'>Hainan Province</option>
                      <option value='CN-HK'>Hong Kong Special Administrative Region</option>
                      <option value='CN-HL'>Heilongjiang Province</option>
                      <option value='CN-HN'>Hunan Province</option>
                      <option value='CN-JL'>Jilin Province</option>
                      <option value='CN-JS'>Jiangsu Province</option>
                      <option value='CN-JX'>Jiangxi Province</option>
                      <option value='CN-LN'>Liaoning Province</option>
                      <option value='CN-MO'>Macau Special Administrative Region</option>
                      <option value='CN-NM'>Inner Mongolia Autonomous Region</option>
                      <option value='CN-NX'>Ningxia Hui Autonomous Region</option>
                      <option value='CN-QH'>Qinghai Province</option>
                      <option value='CN-SC'>Sichuan Province</option>
                      <option value='CN-SD'>Shandong Province</option>
                      <option value='CN-SH'>Shanghai Municipality</option>
                      <option value='CN-SN'>Shaanxi Province</option>
                      <option value='CN-SX'>Shanxi Province</option>
                      <option value='CN-TJ'>Tianjin Municipality</option>
                      <option value='CN-TW'>Taiwan Province</option>
                      <option value='CN-XJ'>Xinjiang Uyghur Autonomous Region</option>
                      <option value='CN-XZ'>Tibet Autonomous Region</option>
                      <option value='CN-YN'>Yunnan Province</option>
                      <option value='CN-ZJ'>Zhejiang Province</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="checkID" style="display: none;" class="col-xl-12">
            <div class="card css-card">
              <div class="card-header">
                <div class="css-card-icon">
                  <i class="fas fa-chart-bar"></i>
                </div>
                <div class="css-card-title"> ID Check </div>
              </div>
              <div class="card-body ">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <select id="photoId" name="photoId" class="form-control" required>
                      <option selected value="">Choose...</option>
                      {{#each photoIDs}}
                        <option value="{{this.id}}">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <span class="badge badge-dark">{{this.idName}}</span>
                            </div>
                            <div class="form-group col-md-6">
                              <span class="badge badge-dark">{{this.idNumber}}</span>
                            </div>
                          </div>
                        </option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Create Order</button>
        </form>
      </div>
    </div>
  </div>
</div>
