<div class="row">
  <div class="col-xl-12">
    <div class="card css-card">
      <div class="card-header">
        <div class="css-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="css-card-title"> Settings </div>
      </div>
      <div class="card-body ">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="code">Identify code</label>
              <input type="text" class="form-control" name="code" value="{{user.code}}" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="code">Username</label>
              <input type="text" class="form-control" name="username" value="{{user.username}}" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="code">Banned</label>
              <input type="text" class="form-control" name="banned" value="{{user.banned}}" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="code">Email</label>
              <input type="text" class="form-control" name="email" value="{{user.email}}" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="code">Discord ID</label>
              <input type="text" class="form-control" name="discordID" value="{{user.discordID}}" readonly>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
